/* 글목록 */
.article-list {
  width: 55vw;
  margin-top: 2vh;
  padding: 3vh;
  background-color: #FEEBD8;
  display: inline-block;
}
/* 글제목칸 */
.article-title {
  border-bottom:2px solid; 
  text-align:left; 
  padding-left:20px; 
  font-size:30px;
  font-weight: 500;
  padding-bottom:10px;
}
/* 글 내용칸 */
.article-content {
  background-color:#FFFFFF;
  border-bottom:1px solid;
  font-size: 20px;
  text-align: left;
  padding: 50px;
  padding-left:50px;
}
/* 페이지네이션 */
.btn-pagination{
  margin-top: 15px;
  margin-right: 10px;
  background-color: #FFB15C;
  border-color: #FFB15C;
  cursor: pointer;
}
/* 글목록테이블 */
.table{
  /* border-top:1px solid; */
  border-collapse: collapse;
}
th, td {
  border-bottom: 1px solid #444444;
  padding: 10px;
}
/* 글쓰기 컨테이너*/
.write-article{
  margin-bottom:20px;
  padding:30px;
}
/* 글쓰기 제목 */
.create-article-title {
  width:100%; 
  height:50px; 
  font-size:18px; 
  margin-top:10px; 
  border:none;
  padding-left: 20px ;
}
/* 글쓰기 내용 */
.create-article-content {
  width:100%; 
  height:360px; 
  font-size:18px; 
  margin-top:30px; 
  border:none;
  margin-top:30px;
  padding: 20px;
}
/* 글작성 제출 버튼 */
.btn-write-submit{
  width:100px;
  height: 40px;
  background-color: #8987C7;
  color:#FFFFFF;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  cursor:pointer;
}
/* 글작성 취소 버튼 */
.btn-write-cancel{
  width:100px;
  height: 40px;
  background-color: #CD3407;
  margin-left: 30px;
  color:#FFFFFF;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  cursor:pointer;
}
/* 글 수정 버튼 */
.btn-write-update{
  width:100px;
  height: 40px;
  background-color: #EFC74A;
  color:#FFFFFF;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 20px;
  cursor:pointer;
}
/* 글 삭제 버튼 */
.btn-write-delete{
  width:100px;
  height: 40px;
  background-color: #CD3407;
  color:#FFFFFF;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  margin-left: 30px;
  cursor:pointer;
}
/* 댓글 작성 버튼 */
.btn-write-comment{
  width:100px;
  height: 40px;
  background-color: #292958;
  color:#FFFFFF;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 20px;
  cursor:pointer;
}
/* 댓글목록 */
.comments{
  background-color: #FDE5CA;
  padding: 40px;
  margin-top: 40px;
}
/* 댓글 작성 칸 */
.comment-area{
  width:100%; 
  margin-top:30px;
  padding: 20px;
  font-size: 20px;
}